.root {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.status-label {
    -fx-padding: 5;
}

.city-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.temp-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.weather-desc {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.forecast-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
    -fx-alignment: center;
    -fx-text-fill: white;
}

#currentWeatherBox, #forecastBox {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
    -fx-padding: 20;
}